name: Add Todo

on: push

env:
  IMG_NAME: "addtodoui"
  IMG_SERVER: "anjaliacr.azurecr.io"
  CLIENT_ID: "7b20495a-a14c-4ef2-bd11-222bf2538418"
  TENANT_ID: "af734fcf-6a49-4af5-8ec9-51df7466b2c5"
  SUBSCRIPTION_ID: "95a90f4b-7e15-47ba-95ab-0d52bac078e4"


permissions:
  id-token: write
  contents: read

jobs:
  my_first_job:
    name: Build and Push Images
    runs-on: anjali
    environment: Add Todo

    steps:
    
    - name: Checkout
      uses: actions/checkout@v6.0.0
    
    - name: Azure Login
      uses: Azure/login@v2.3.0
      with:
        client-id: ${{ env.CLIENT_ID }}
        tenant-id: ${{ env.TENANT_ID }}
        subscription-id: ${{ env.SUBSCRIPTION_ID }}
        
    - name: Login to ACR
      uses: docker/login-action@v3
      with:
          registry: "anjaliacr.azurecr.io"
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
          
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker Image
      run: docker build -t ${{ env.IMG_NAME }}:v1 .

    - name: Tag Image
      run: docker tag ${{ env.IMG_NAME }}:v1 ${{ env.IMG_SERVER }}/${{ env.IMG_NAME }}:v1

    - name: Push Images to ACR
      run: docker push ${{ env.IMG_SERVER }}/${{ env.IMG_NAME }}:v1 

    
   
          
