name: Add Todo

on: push

jobs:
  my_first_job:
    name: Build and Push Images
    runs-on: anjali
    steps:
    
    - name: Checkout
      uses: actions/checkout@v6.0.0
    
    - name: Azure Login
      uses: Azure/login@v2.3.0
      with:
        client-id: ${{ secrets.client_id }}
        tenant-id: ${{ secrets.tenant_id }}
        subscription-id: ${{ secrets.subscription_id }}
        
    - name: Login to ACR
      uses: docker/login-action@v3
      with:
          registry: "anjaliacr.azurecr.io"
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
          
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker Image
      run: docker build -t addTodo:v1 .

    - name: Tag Image
      run: docker tag addTodo:v1 anjaliacr/addTodo:v1

    - name: Puh Images to ACR
      run: docker push anjaliacr/addTodo:v1 

    
   
          
